.header {
  height: 64px;
  width: 100%;

  display: flex;
  flex-direction: row;
  //   justify-content: center;
  align-items: center;

  border-bottom: 1px solid #ddd;

  .logo {
    margin-left: 100px;
    margin-right: 60px;

    font-size: 32px;
    font-weight: 700;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    font-size: 16px;
    font-weight: normal;

    .menuLeft {
      display: flex;
      flex-direction: row;
      .menuLeftContent {
        margin-right: 40px;
      }
    }

    .menuRight {
      display: flex;
      flex-direction: row;

      margin-right: 100px;

      .menuRightContent {
        margin-left: 40px;
      }
    }
  }
}
